.all {
    /* background-color: burlywood; */
    background: #c8badf;
    width: 75%;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    text-align: right;
    padding: 5px;
}


body{
    background: linear-gradient(to right, #3525af, #9153c9);
}

h1{
    padding: 10px 50px;
    font-size: 70px;
    font-weight: 900;
    margin: 10px 10px;
    text-align: center;
}

h2{
    font-size: 2.1em;
    margin-right: 20px;
}

p {
    margin-right: 20px;
}

small{
    font-size: 16px;
    line-height: 33px;
    margin: 0 7px;
}

a{
    color: rgb(57, 11, 88);
    text-decoration: none;
}

aside{
    position: relative;
    float: left;
}

img{
    border-radius: 50%;
    width: 300px;
    height: 300px;

}

#skills{
    margin-right: 30px;
    margin-bottom: 200px;
}

#skills-left{
    float: right;
    margin: 0 auto;
}

#skills-right{
    float: right;
    margin: 0 auto;
}

li{
    list-style: none;
}

.educacion{
    clear: both;
}